<div class="pgHeader">
    <h1>NUESTROS SERVICIOS</h1>
</div>
<div class="servicesContainer">
    <div class="service">
        <h2>EDIFICACION</h2>
        <div class="imgCenter">
            <img src="../assets/RACONS HOME 3.jpg" alt="">
            <div class="imgDescript">
                <p>Contruccion de viviendas</p>
                <p>y edificios a medida</p>
            </div>
        </div>

    </div>
    <div class="service">
        <h2>REFACCIONES</h2>
        <div class="imgCenter">
            <img src="../assets/refacciones.jpg" alt="">
            <div class="imgDescript">
                <p>Remodelacion de</p>
                <p>exteriores e interior</p>
                <p>colocacion de</p>
                <p>revestimientos y aperturas</p>
            </div>
        </div>
    </div>
    <div class="service">
        <h2>INSTALACIONES</h2>
        <div class="imgCenter">
            <img src="../assets/instalaciones.jpg" alt="">
            <div class="imgDescript">
                <p>Instalacion y reparacion</p>
                <p>de redes de Agua</p>
                <p>y desague</p>
            </div>
        </div>
    </div>
    <div class="service">
        <h2>PLANOS</h2>
        <div class="imgCenter">
            <img src="../assets/Planos.jpg" alt="">
            <div class="imgDescript">
                <p>Realizacion de planos</p>
                <p>de vivendas y</p>
                <p>edificios</p>
            </div>
        </div>
    </div>
    <div class="service">
        <h2>PREPARACION DE SUELO</h2>
        <div class="imgCenter">
            <img src="../assets/racons preparacion de suelo 2.jpg" alt="">
            <div class="imgDescript">
                <p>Aplanado y preparacion</p>
                <p>de suelos para su</p>
                <p>posterior edificacion</p>
            </div>
        </div>
    </div>
</div>