<div class="pgHeader">
    <h1>TRAYECTORIA</h1>
</div>

<h2>Gestion y construccion de vivienda</h2>
<div class="gallery">
    <img class="houseImg" src="../assets/casa 1.jpg" alt="">
    <img class="houseImg" src="../assets/casa 2.jpg" alt="">
    <img class="houseImg" src="../assets/casa 3.jpg" alt="">
    <img class="houseImg" src="../assets/casa 4.jpg" alt="">
    <img class="houseImg" src="../assets/casa 5.jpg" alt="">
    <img class="houseImg" src="../assets/casa 6.jpg" alt="">
</div>

<h2>Diseño y remodelacion de baño</h2>
<div class="gallery">
    <img class="bathImage" src="../assets/bano 1.jpg" alt="">
    <img class="bathImage" src="../assets/bano1.jpg" alt="">
    <img class="bathImage" src="../assets/bano 2.jpg" alt="">
    <img class="bathImage" src="../assets/bano 3.jpg" alt="">
    <img class="bathImage" src="../assets/bano 4.jpg" alt="">
    <img class="bathImage" src="../assets/bano 5.jpg" alt="">
</div>

<h2>Rediseño de cocina lavadero</h2>
<div class="gallery">
    <img class="kitchenImage" src="../assets/cocina 1.jpg" alt="">
    <img class="kitchenImage" src="../assets/cocina 3.jpg" alt="">
    <img class="kitchenImage" src="../assets/cocina 4.jpg" alt="">
    <img class="kitchenImage" src="../assets/cocina 5.jpg" alt="">
    <img class="kitchenImage" src="../assets/cocina 2.jpg" alt="">
    <img class="kitchenImage" src="../assets/cocina 6.jpg" alt="">
</div>

<h2>Colocacion de cielo raso</h2>
<div class="gallery">
    <img class="houseImg" src="../assets/techo 1.jpg" alt="">
    <img class="houseImg" src="../assets/techo 2.jpg" alt="">
    <img class="houseImg" src="../assets/techo 3.jpg" alt="">
    <img class="houseImg" src="../assets/techo 4.jpg" alt="">
    <img class="houseImg" src="../assets/techo 5.jpg" alt="">
    <img class="houseImg" src="../assets/techo 6.jpg" alt="">
    <img class="houseImg" src="../assets/techo 7.jpg" alt="">
</div>

<h2>Remodelacion de revestimientos en living-comedor</h2>
<div class="gallery">
    <img class="bathImage" src="../assets/living 1.jpg" alt="">
    <img class="bathImage" src="../assets/living 2.jpg" alt="">
    <img class="bathImage" src="../assets/living 3.jpg" alt="">
    <img class="bathImage" src="../assets/living 4.jpg" alt="">
    <img class="bathImage" src="../assets/living 5.jpg" alt="">
</div>





