<div class="homeImg">
    <h1>CONSTRUIMOS TU HOGAR</h1>
    <br>
    <h3>
        En Racons, cada día se trabaja para brindar lo mejor en cada proyecto, con el objetivo de garantizar la
        satisfacción de nuestros clientes</h3>
    <h3>La gestión y ejecución de nuevas viviendas o edificaciones</h3>
    <h3>así como las refacciones e instalaciones, son realizadas para ofrecer todo lo necesario con el fin de hacer realidad tus proyectos</h3>
    <a routerLink="/contact" class="btn btn-dark">Contactanos</a>
</div>