<div class="contactBar">
  <p>2235994121</p>
  <p>nicolasramirez.96.constru&#64;gmail.com</p>
</div>
<div class="nav">
  <img class="logo" src="../assets/RACONS LOGO copia.png" alt="">
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"
    aria-controls="multiCollapseExample1">
    <div class="bars">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </a>
  <div class="navMenu">
    <a routerLink="/home">
      <h2 routerLink="/home" class="underline">Inicio</h2>
    </a>
    <a routerLink="/us">
      <h2 class="underline">Nosotros</h2>
    </a>
    <a routerLink="/services">
      <h2 class="underline">Servicios</h2>
    </a>
    <a routerLink="/proyects">
      <h2 class="underline">Trayectoria</h2>
    </a>
    <a routerLink="/contact">
      <h2 class="underline">Contacto</h2>
    </a>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        <a routerLink="/home">
          <h2 routerLink="/home" class="underline">Inicio</h2>
        </a>
        <a routerLink="/us">
          <h2 class="underline">Nosotros</h2>
        </a>
        <a routerLink="/services">
          <h2 class="underline">Servicios</h2>
        </a>
        <a routerLink="/proyects">
          <h2 class="underline">Viviendas</h2>
        </a>
        <a routerLink="/contact">
          <h2 class="underline">Contacto</h2>
        </a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>