<div class="container">
    <h1>NOSOTROS</h1>
    <div class="usDescription">
        <p>Somos una empresa constructora ubicada en Mar del Plata, con años de trayectoria que tiene como objetivo
            brindarle el medio para hacer realidad sus proyectos!</p>
        <p>Nuestro principal servicio es la gestion y ejecucion de nueva vivenda</p>
        <p>Mas alla de este servicio ademas realizamos tareas varias como por ejemplo: Regularizaciones, Refacciones,
            Instalaciones de redes de agua y desague y colocacion de revestimientos</p>
        <p>Ofrecemos el servicio de proyecto y direccion con el fin de satisfacer y superar las expectativas de nuestros
            clientes para que hallen a RACONS como una empresa confiable e incondicional para toda clase de proyectos
        </p>
    </div>
</div>